#features {
    margin-bottom: 80px;
    text-align: center;
}
#features .header {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 46px;
    font-weight: 400;
}
#features .sub-header {
    color: gray;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
}